.AppStyle {
    $laranja: #ff6a07;

    padding-inline: 7vw;
    margin-top: -120px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
    img{
        width: 30%;
        border-radius: 30px;
        border:4px solid $laranja;
    }

}