.AppStyle {
    $cinza: #222222;
    $laranja: #ff6a07;

    height: 93vh;
    background: url(../../assets/img/bannerHorizontal.jpg);
    background-size: cover;
    background-position: center;

    padding-inline: 70px;
    padding-top: 20px;
    display: flex;  
    flex-direction: row;  
    justify-content: space-between; 
      
    img{
        height: 50px;
        margin-right: 15px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    ul{
        padding-top: 13px;
        display: flex; 
        flex-direction: row;  
    }
    li{
        font-size: 18px;
        margin-left: 20px;
    }
}