.AppStyle {
    $cinza: #222222;
    $laranja: #ff6a07;

    padding-inline: 7vw;
    padding-top: 50px;

    h1{
        color: black;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        
    }

    ul{
        padding-top: 50px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50px;
        
        li{
            background: black;
            margin: 10px 30px 0 0;
            width: calc(33% - 70px);
            text-align: center;
            border-radius: 6px;
            padding: 50px 25px;
    
            border-radius: 20px;
            
            div{
                font-size: 70px;
                color: $laranja;
                margin-bottom: 10px;
            }

            img{
                width: 100%;
                border-radius: 20px;
            }
    
            h2{
                padding-top: 20px;
                color: $laranja;
                font-weight: bold;
                font-size: 30px;
                text-align: center;
            }
            p{
                padding-top: 20px;
                padding-bottom: 30px;
                color: white;
                font-size: 20px;
                opacity: 0.6;
            }
            a{
                color: $laranja;
                font-size: 20px;
                padding: 10px 30px;
                text-decoration: none;
                border-radius: 6px;
                border: 2px solid $laranja;
                transition: all 0.3s ease;
            }
            a:hover{
                background: $laranja;
                color: white;
            }
        }

    }

}